{% extends 'layout.html' %}
{% block title %} kontrol paneli {% endblock title %}
{% block body %}
<h3>kontrol paneli</h3>
<hr>
<p>
    hoşgeldin , <small>{{request.user.username}}</small>
</p>
{% if articles %}
<ul class="list-group">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">makale adı</th>
                <th scope="col">makale tarihi</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <th scope="row">{{article.id}}</th>
                <td><a href="{% url 'article:article_detail' article.id %}">{{article.title}}</a></td>
                <td>{{article.created_date | date}}</td>
                <td><a href="{% url 'article:updateArticle' article.id %}" class="btn btn-warning">güncelle</a></td>
                <td><a href="{% url 'article:deleteArticle' article.id %}" class="btn btn-danger">sil</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ul>
{% else %}
<div class="alert alert-danger">henüz bir makaleniz yok....</div>
{% endif %}
<a href="{% url 'article:addArticle' %}" class="btn btn-info">makale ekle</a>
{% endblock body %}